<div id="appsPage" class="app-header add-bottom">
    <div class="app-title">
        <h1>{{'APPS' | translate}}</h1>
    </div>

    <div class="global-actions">
        <button class="btn btn-lg btn-primary" ng-click="addNewApp()">
          {{'REGISTER_AN_APP' | translate}}
        </button>
    </div>
</div>


<div>
    <p>To learn more about how to register an application that uses the Rise Vision application programming interfaces (API's) please click <a href="http://help.risevision.com/#/developer/getting-started/registration/app-registration" target="_blank">here</a>.</p>
    <p>If you would like to build upon the applications that we have already created with our API's please check out our open source repositories on GitHub <a href="https://github.com/Rise-Vision" target="_blank">here</a>.</p>
    <p>And, if you have any questions along the way please don't hesitate to join our lively Community <a href="http://community.risevision.com" target="_blank">here</a>.</p>
</div>


<div rv-spinner
    rv-spinner-key="rv-dev-hub-apps-loader"
    rv-spinner-start-active="1"
    rv-spinner-backdrop-class="spinner-backdrop"
></div>


<div class="empty-state" ng-if="loadingComplete && showNoAppMessage">
    <div class="tag">
        <!-- Icon -->
        <i class="fa  fa-bolt fa-5x"></i>
        <!-- Main Title -->
        <h3>{{'APP_NO_APP_YET_MESSAGE' | translate}}</h3>
    </div>
</div>

<div class="responsive-table" ng-show="loadingComplete && showAppTable">
    <!-- Title Row -->
    <div class="title-row">

        <div class="col-lg-2 col-xs-2" ng-click="sortBy('name')">
            {{'APP_NAME' | translate}}
            <i ng-if="sortByCat == 'name'" class="fa" ng-class="{false: 'fa-sort-up', true: 'fa-sort-down'}[sortReverse]"></i>
        </div>
        <div class="col-lg-4 col-xs-4" ng-click="sortBy('description')">
            {{'APP_DESCRIPTION' | translate}}
            <i ng-if="sortByCat == 'description'" class="fa" ng-class="{false: 'fa-sort-up', true: 'fa-sort-down'}[sortReverse]"></i>
        </div>
        <div class="col-lg-2 col-xs-2" ng-click="sortBy('clientId')">
            {{'APP_CLIENT_ID' | translate}}
            <i ng-if="sortByCat == 'clientId'" class="fa" ng-class="{false: 'fa-sort-up', true: 'fa-sort-down'}[sortReverse]"></i>
        </div>
        <div class="col-lg-2 col-xs-2" ng-click="sortBy('url')">
            {{'APP_URL' | translate}}
            <i ng-if="sortByCat == 'url'" class="fa" ng-class="{false: 'fa-sort-up', true: 'fa-sort-down'}[sortReverse]"></i>
        </div>
        <div class="col-lg-2 col-xs-2" ng-click="sortBy('modified')">
            {{'APP_MODIFIED' | translate}}
            <i ng-if="sortByCat == 'modified'" class="fa" ng-class="{false: 'fa-sort-up', true: 'fa-sort-down'}[sortReverse]"></i>
        </div>
    </div>
    <!-- Apps -->
    <a ng-click="editApp(app.id)" class="tr-row" ng-repeat="app in apps | orderBy:sortByCat:sortReverse" style="cursor: pointer; cursor: hand;">

        <div class="col-lg-2 col-xs-2 highlight">
            {{ app.name }}
        </div>
        <div class="col-lg-4 col-xs-4">
            {{ app.description }}
        </div>
        <div class="col-lg-2 col-xs-2">
            {{ app.clientId }}
        </div>
        <div class="col-lg-2 col-xs-2">
            {{ app.url }}
        </div>
        <div class="col-lg-2 col-xs-2">
            {{ app.modified }}
        </div>
    </a>
</div>