<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="content-box table-responsive">
            <table class="table-2 table-hover">
                <thead>
                    <tr>
                        <th class="col-lg-3 col-xs-3">
                            <a href="" ng-click="sortBy('id')">{{'RESOURCE_NAME' | translate}}
                                <span><i ng-if="sortByCat == 'id'" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[sortReverse]"></i></span>
                            </a>
                        </th>
                        <th class="col-lg-8 col-xs-8 hidden-xs">
                            <a href="" ng-click="sortBy('description')">{{'RESOURCE_DESCRIPTION' | translate}}
                                <span><i ng-if="sortByCat == 'description'" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[sortReverse]"></i></span>
                            </a>
                        </th>
                        <th class="col-lg-1 col-xs-1">
                            <a href="" ng-click="sortBy('httpMethod')">{{'RESOURCE_METHOD' | translate}}
                                <span><i ng-if="sortByCat == 'description'" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[sortReverse]"></i></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="explore(method.id)" ng-repeat="method in methods | orderBy:sortByCat:sortReverse">
                        <td class="col-lg-3 col-xs-3"><a href=""><strong>{{ method.id }}</strong></a></td>
                        <td class="col-lg-8 col-xs-8 hidden-xs description-col"><a class="ellipsis ellipsis-md" href="" dotdotdot>{{ method.description }}</a></td>
                        <td class="col-lg-1 col-xs-1"><a href="#">{{ method.httpMethod }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>